/* SLIDER */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
   /*  background-image: url(videoplayback-_online-video-cutter.com_.gif);
    background-size: contain;
    height: 1100px;
    width: 900px;
    margin-top: 500px; */
}

/* ul que adicionalmente tienen clase slider */


ul.slider{
    position: relative;/* (respeta su espacio) */
    width: 100%;
    height: 540px;
}

/* nivel de especificidad */
ul.slider .slide{
    position: absolute;/* (lo ubica encima de todos los contenedores) */
    /* transición de imagen a imagen */
    opacity: 0;
    left: 0;
    top: 0;
    list-style: none;
    width: 100%;
    transition: opacity 2s;
}

ul.slider .slide:target{
    opacity: 1;
}

ul.slider .firstSlide{
    opacity: 1;
}

.contImg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 270px 0;
}

.img1{
    background-image: url(Alpha.gif);
    /* padding: 250px 0; */
}

.img2{
    background-image: url(dragon2.jpg);
}

.img3{
    background-image: url(godzilla.jpg);
}

.img4{
    background-image: url(guardianes.jpg);
}

.img5{
    background-image: url(inception.jpg);
}

/* estilo de los botones */

.menu{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.menu>li{
    margin: 0 20px;
    list-style: none;
    transition: all .3s ease-in-out;
    margin-top: 20px;
}

menu>li:hover{
    transform: scale(1.3);
    transition: all .3s ease-in-out;
}

.menu a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(253, 208, 200);
    color: brown;
    border-radius: 5px;
}


@media screen and (max-width:768px){
    .menu>li{
        margin: 0 3px;
    }
    .menu a{
        padding: 5px 4px;
        font-size: 12px;
    }
    .menu{
        width: 100%;
    }
    ul.slider{
        height: 330px;
    }
    .contImg{
        padding: 150px 0;
        /* se carga imagen apropiada para dispositivos móviles y se dan nuevamente las características*/
    }
}